<!DOCTYPE html>
<html>
<head>
  <title>Ahrlty</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/flash' unless flash.empty? %>
  <%= render 'shared/nav' %>

  <%= yield %>

</body>
</html>
